*{
    background-color: black;
}

.contenedor-principal{
    display: flex;
    flex-direction: row;
    background-color: fuchsia;
    border-radius: 20px;
}

.elementos{
    margin: 10px;
    height: 100px;
    width: 200px;
    background-color: yellow;
    border-radius: 20px;
}